In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
# write 3 table program in functions
def print_table(i):
    for j in range(1,11):
        print(f"{i}*{j}={i*j}")

print_table(i)

NameError: name 'i' is not defined

In [12]:
for i in range(1,11):
    print(i,end="")

12345678910

In [15]:
for i in range(1,11):
    print(i,end="")
print("done")
print("hi")

12345678910done
hi

In [16]:
# print n stars in horizontaly
n=int(input())
for i in range(1,n+1):
    print("*",end='')

 25

*************************

In [28]:
#two lines
n=int(input())
for i in range(1,3):
    print("*  " *n)

 6

*  *  *  *  *  *
*  *  *  *  *  *

In [37]:
#rectangular pattren
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        print("*",end=' ')
    print()

 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
for i in range(1,11):
        print(i,"X 5 =",i*5)

1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50

In [11]:
for i in range(1,11):
    print(i,"X 19 =",i*19)

1 X 19 = 19
2 X 19 = 38
3 X 19 = 57
4 X 19 = 76
5 X 19 = 95
6 X 19 = 114
7 X 19 = 133
8 X 19 = 152
9 X 19 = 171
10 X 19 = 190

In [6]:
for i in range(5):
    for j in range(5):
        if i == j or j == -1-i:
            print("*",end ="")
        else:
            print(" ", end = " ")
    print()

*
  *
    *
      *
        *

In [12]:
for i in range(5):
    for j in range(5):
        if i >= j:
            print("*",end = "   ")
        else:
            print(" ", end = " ")
    print()

*
*   *
*   *   *
*   *   *   *
*   *   *   *   *

In [24]:

for i in range(5):
    for j in range(5):
        if i==j or j==0 j == n-1:
            print("*", end =" ")
        else:
             print(" ", end = " ")
    print()

SyntaxError: invalid syntax (2423842800.py, line 3)

In [27]:
n=6
for i in range (n):
    for j in range(n):
        print(i+1, end = " ")
    print()

1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6